<h1>学習記録一覧</h1>

<%= link_to '＋ 新規投稿', new_study_log_path, class: 'btn btn-edit' %>

<hr>

<% @study_logs.each do |log| %>
  <div class="study-log">
    <h3><%= log.title %></h3>

    <p><%= simple_format(log.content) %></p>

    <small>
      投稿日時：<%= log.created_at.strftime("%Y/%m/%d %H:%M") %>
    </small>
    <br>

    <%= link_to '編集',
                edit_study_log_path(log),
                class: 'btn btn-edit' %>

    <%= button_to '削除',
                  study_log_path(log),
                  method: :delete,
                  data: { confirm: '削除しますか？' },
                  class: 'btn btn-delete',
                  form: { style: 'display: inline' } %>
  </div>
<% end %>
