<div class="auth-card">
  <h1>ログイン</h1>

  <% if alert.present? %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-input" %>
    </div>

    <%= f.submit 'ログイン', class: 'btn btn-primary' %>

  <% end %>

  <div class="auth-links">
    <%= link_to 'パスワードをお忘れですか？',
          new_password_path(resource_name),
          class: 'btn btn-link' %>

    <%= link_to 'Googleでログイン',
          user_google_oauth2_omniauth_authorize_path,
          class: 'btn btn-google',
          data: { turbo: false } %>
  </div>
</div>
